/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: "Poppins", sans-serif;
}

button {
	/* background-color: #918E8E; */
	display: inline-block;
	margin: 0 0.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-grey {
	color: #000;
	background-color: #5a6268;
	border-color: #6c757d;
  }

  .btn-grey:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #545b62;
  }
  
  .btn-grey:focus, .btn-grey.focus {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }

  .btn-grey:disabled, .btn-grey.disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
	opacity: 0.65;
  }

.nav {   
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav-items {
    list-style-type: none;
    margin: 1rem;
    /* padding: 1rem; */
}

.video {
	position: relative;
	width: 100%;
	height: 100vh; /* Asegúrate de ajustar esto según lo necesario */
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(0, 0, 0, 0.5); */
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#828c95+0,28343b+99,28343b+99,b5bdc8+100&0.5+1,1+100 */
    background: -moz-linear-gradient(-45deg,  rgba(130,140,149,0.5) 0%, rgba(129,139,148,0.5) 1%, rgba(40,52,59,0.99) 99%, rgba(181,189,200,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(130,140,149,0.5) 0%,rgba(129,139,148,0.5) 1%,rgba(40,52,59,0.99) 99%,rgba(181,189,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(130,140,149,0.5) 0%,rgba(129,139,148,0.5) 1%,rgba(40,52,59,0.99) 99%,rgba(181,189,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80828c95', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Esto asegura que el video cubra todo el contenedor */
	z-index: -1; /* Asegura que el video esté detrás del contenido */
}

.icon-link {
    margin: 0 1rem;
    font-size: 2rem;
    color: inherit; /* Ensure icons keep their default colors */
}

.icon-link:hover {
    color: inherit; /* Ensure icons keep their default colors on hover */
}